# Игнорировать папку с зависимостями Node.js
node_modules/

# Игнорировать файлы окружения
.env

# Игнорировать логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать файлы сборки и временные файлы
/dist
/build
*.pid
*.seed
*.pid.lock

# Игнорировать файлы кэша и временные файлы редакторов
*.DS_Store
*.swp
*.swo
.vscode/
.idea/

# Игнорировать файлы базы данных
data/
